<div class="container" style="width:fit-content;">
  <form action="/records/{{ record._id }}/edit" method="POST">
    <div class="d-flex m-4 " style="">
      <P>*必填欄位</P>
      <h3 style="margin-left: 150px;">請輸入你的支出</h3>
    </div>
    <div>
      <div class="row g-3 align-items-center m-5" style="width: 40vw;">
        <div class="col-auto">
          <label for="inputPassword6" class="col-form-label">名稱*:</label>
        </div>
        <div class="col-auto">
          <input type="text" class="form-control" style="width: 30vw;" name="name" value="{{ record.name }}" required>
        </div>
      </div>
      <div class="row g-3 align-items-center m-5">
        <div class="col-auto">
          <label for="inputPassword6" class="col-form-label">日期*:</label>
        </div>
        <div class="col-auto">
          <input type="date" class="form-control" style="width: 30vw;" name="date" value="{{ record.date }}" required>
        </div>
      </div>
      <div class="row g-3 align-items-center m-5">
        <div class="col-auto">
          <label class="col-form-label">類別*:</label>
        </div>
        <select class="ml-3" style="width: 30vw; height: 40px;" name="Category" required>
          <option selected>Select</option>
          <option value="familyexpense/fas fa-home" {{#if (eq record.category 'familyexpense' )}} selected {{/if}}>家居物業
          </option>
          <option value="transportation/fas fa-shuttle-van" {{#if (eq record.category 'transportation' )}} selected
            {{/if}}>交通出行</option>
          <option value="entertainment/fas fa-grin-beam" {{#if (eq record.category 'entertainment' )}} selected {{/if}}>
            休閒娛樂</option>
          <option value="food/fas fa-utensils" {{#if (eq record.category 'food' )}} selected {{/if}}>餐飲食品</option>
          <option value="other/fas fa-pen" {{#if (eq record.category 'other' )}} selected {{/if}}>其他</option>
        </select>
      </div>
      <div class="row g-3 align-items-center m-5">
        <div class="col-auto">
          <label for="inputPassword6" class="col-form-label">金額*:</label>
        </div>
        <div class="col-auto">
          <input type="text" class="form-control" style="width: 30vw;" name="amount" value="{{ record.amount }}"
            required>
        </div>
      </div>
      <div class="new-button">
        <button type="submit" class="btn btn-dark mb-5">確認送出</button>
      </div>
  </form>
</div>