header {
  overflow: hidden;
}

.navbar .navbar-brand {
  color: #4592af;
}

.navbar .navbar-brand:hover {
  color: #226089;
}

.sortButton {
  width: 200px;
  margin: 10px;
  position: relative;
  left: 700px;
}

.totalAmount {
  margin: 20px;
  
}

.totalNum {
  font-size: 50px;
  color: 	#FF8000;
  position: relative;
  left: 280px;
}

.list-group-item {
 width: 900px;
}

.list-info {
  width: 37vw;
  margin-left: 0px;
  position: relative;
  right: 30px;
}

.list-icon {
  font-size: 30px;
  margin-left: 30px;
  color: #84C1FF;
  margin-right: 20px;
  width: 50px;
}

.list-item {
  font-size: 20px;
}

.list-date {
  font-size: 10px;
}

.list-money {
  font-size: 20px;
}

.list-botton {
  width: 150px;
  margin-left: 0px;
}

.add-new-expense {
  width: 300px;
  font-size: 20px;
  position: relative;
  left: 300px;
  margin: 50px 0;
  color: white;
}

.new-button {
  position: relative;
  left: 300px;
}




@media screen and (max-width: 992px) {
  
  .card img{
    height: 115px;
  }
}

@media screen and (max-width: 768px) {
  
  .restaurant-show-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 575px) {
  
  .card img{
    height: auto;
  }
  
}
